<!DOCTYPE html>
{#自适应版本#}
{#引入css和js必要的文件#}
<head>
<script language="JavaScript" type="text/javascript"></script>
<script src="/static/jquery"></script>
<script type="text/css" src="/static/button.css"></script>
<link  type="text/css" href="/static/button.css" rel="stylesheet" >

<link rel="stylesheet" href="/static/styleHomepage.css">

<!-- Custom Fonts -->
<style>
    body{
      margin: 0px;
      padding: 0px;
    }
</style>
</head>
<body>
<div  align="center" style="background:url(/static/homepageBg.JPG);width: 100%;
                            max-width:2048px;min-width:1440px;background-repeat:no-repeat;background-size:100% 100%;">
{#    上面是适应屏幕的。#}
    <div style="height: 35%;" name="title" >
        <div align="center"style="padding-top: 6%;">
            <h1 style="width: 60%;height: 10%; font-size: 100px;color:#ffffff">WONIU</h1>
            <h1 style="height: 5px;background-color: #ffffff;width: 480px;font-size: 0px;">0</h1>
            <h1 style="width: 60%;height: 20px; font-size: 20px;color:#ffffff;">email: woniu@bupt.com</h1>
            <h1 style="width: 60%;height: 20px; font-size: 20px;color:#ffffff">addr:Campus of BUPT</h1>
            <h1 style="width: 60%;height: 20px; font-size: 20px;color:#ffffff">Haidian Distinct. Beijing</h1>
        </div>
    </div>
 {#      两个标签#}
    <div style="width: 100%;padding-top: 7%;height: 35%;max-height: 500px">
{#            使用的新的两个标签#}
{#            <div >#}
{#                    <div style="background-color: rgba(255,255,255,0.7);vertical-align:top;display:inline-block;width: 48%;height:25%;" >#}
{#                        <div style="display: inline-block;vertical-align:top;width: 360px;height: 360px;opacity: 1;"class="img" class="item-container" >#}
{#                            <a href="JudgeChoose" style="text-decoration:none">#}
{#                            <img src="/static/astudent.png" style="width: 190px;height: 190px;margin-top: 40px;">#}
{#                            <h1 style="margin-top: 20px;font-size: 40px">A CS STUDENT</h1>#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div style="background-color: #ffffff;vertical-align:top;display: inline-block;display:inline-block;width: 3%;height: 20px;opacity: 0"><h1 style="opacity: 0">0</h1></div>#}
{#                    <div style="background-color: rgba(255,255,255,0.7);vertical-align:top;display:inline-block;width: 48%;height: 25%;" >#}
{#                        <div style="display: inline-block;vertical-align:top;width: 360px;height: 360px;opacity: 1;"  >#}
{#                            <a href="personPage" style="text-decoration:none">#}
{#                            <img src="/static/adesigner.png" style="width: 170px;height: 170px;margin-top: 50px">#}
{#                            <h1 style="margin-top: 30px;font-size: 40px">AS A STUDENT</h1>#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
{#            </div>#}
{#        横幅最高500，定死了。#}
            <div style="height:100%;width: 49%;display: inline-block;vertical-align: top;background:  rgba(8,14,67,0.5);"class="item-container,item-caption green">
							<div style="height: 300px">
								<div class="item-container "style="width: 100%;height: 300px;">
									<div class="title"align="center">
{#										<h2 style="font-size: 50px;background-color: rgba(0,0,0,0.5);#}
{#										        width: 80%;height: 70px;padding-top: 10px;color: #0B1860;border-radius: 20px">AS A CS STUDENT</h2>#}
									</div>
									<div class="item-caption green">
										<a href="/JudgeChoose"style="text-decoration: none">
											<div class="item-caption-inner">
												<div class="item-caption-inner1"align="center">
													<h4 style="font-size: 40px">AS A CS STUDENT</h4></br>
                                                    <div style="width: 70%;float: right">
                                                        <span style="font-size: 20px;text-align: left">   Computational Thinking</span>
													    <span style="font-size: 20px;text-align: left">   Readability Judge</span>
													    <span style="font-size: 20px;text-align: left">   Others</span>
                                                    </div>

                                                </div>
											</div>
										</a>
									</div>
                                        <img  style="height:200px;width: 200px;max-height: 300px;margin-top: 50px" src="/static/as1.png" alt=""/>
								</div>
							</div>
						</div>
            <div style="height:100%;width: 49%;display: inline-block;vertical-align: top;background:  rgba(8,14,67,0.5);"class="item-container,item-caption green">
							<div style="height: 300px">
								<div class="item-container "style="width: 100%;height: 300px;">
									<div class="title">
{#										<h2>Marketing Research Solutions</h2>#}
									</div>
									<div class="item-caption green">
										<a href="personPage" style="text-decoration: none">
											<div class="item-caption-inner">
                                                <div class="item-caption-inner1"align="center">
													<h4 style="font-size: 40px">AS A DESIGNER</h4></br>
                                                    <div style="width: 70%;float: right">
                                                        <span style="font-size: 20px;text-align: left">   Photo shot by woniu</span>
													    <span style="font-size: 20px;text-align: left">   Designed works</span>
													    <span style="font-size: 20px;text-align: left">   Others</span>
                                                    </div>

                                                </div>
											</div>
										</a>
									</div>
                                        <img  style="height:200px;width: 200px;max-height: 300px;margin-top: 50px" src="/static/as2.png" alt=""/>
								</div>
							</div>
						</div>
    </div>
{#    LEAVING ME A MESSAGE#}
    <div style="height:10%;width: 100%;">
        <div style="height: 20%;width:80%;border-radius: 0px;padding-top: 6%;">
            <h1 style="width: 600px;height: 60px;border-radius:5px;background-color: rgba(255,255,255,0.3); font-size: 45px;color:#ffffff">LEAVING ME A MESSAGE.</h1>
        </div>
    </div>
{#    页脚#}
    <div style="height:10%;width:100%; margin-bottom: 0px;">
        <div style="width: 48% ;display: inline-block;vertical-align:top;"align="right">
            <h1 style="width: 500px;height: 20px; font-size: 28px;color:#ffffff;">BACKGROUND</h1>
            <h1 style="height: 2px;background-color: #ffffff;width: 280px;font-size: 0px;margin-top: 20px;display: inline-block">0</h1>
            <h1 style="width: 500px;height: 20px; font-size: 20px;color:#ffffff;">SHOT BY WONIU</h1>
            <h1 style="width: 500px;height: 20px; font-size: 20px;color:#ffffff;">VIEW OUTSIDE MY LAB</h1>
        </div>
        <h1 style="height: 2px;background-color: #ffffff;height:70px;width: 2px;font-size: 0px;display: inline-block">0</h1>
        <div style="height: 120px;width:48%;display: inline-block;vertical-align:top;" align="left">
            <h1 style="width: 500px;height: 20px; font-size: 28px;color:#ffffff;">ABOUT NAME</h1>
            <h1 style="height: 2px;background-color: #ffffff;width: 280px;font-size: 0px;margin-top: 20px;display: inline-block">0</h1>
            <h1 style="width: 500px;height: 20px; font-size: 20px;color:#ffffff;">IT IS SNAIL IN CHINESE</h1>
            <h1 style="width: 500px;height: 20px; font-size: 20px;color:#ffffff;">IT MEANS NEVER GIVE UP</h1>
        </div>
    </div>
    <button disabled="none" style="opacity: 0;">sss</button>
{#    架构用10%，这个也是栅格系统的初衷。行间用ps，可以固定文字簇，不会乱拉伸文字簇。#}
</div>
</body>








