<!DOCTYPE html>

{#引入css和js必要的文件#}
<script language="JavaScript" type="text/javascript"></script>
<script src="/static/jquery"></script>
<script type="text/css" src="/static/button.css"></script>
<link  type="text/css" href="/static/button.css" rel="stylesheet" >
<div  align="center" style="background:url(/static/homepageBg.JPG);height: 1280px;width: 1920px;min-width: 1920px;max-width: 1920px;background-repeat:no-repeat;background-size:100% 100%;margin-top: 0px ">
    <div style="height: 450px;" >
        <div align="center"style="padding-top: 110px;margin-bottom: 20px">
            <h1 style="width: 500px;height: 100px; font-size: 100px;color:#ffffff">WONIU</h1>
            <h1 style="height: 5px;background-color: #ffffff;width: 480px;font-size: 0px;margin-top: 15px;">0</h1>
            <h1 style="width: 500px;height: 20px; font-size: 20px;color:#ffffff;margin-top: 20px">email: woniu@bupt.com</h1>
            <h1 style="width: 500px;height: 20px; font-size: 20px;color:#ffffff">addr:Campus of BUPT</h1>
            <h1 style="width: 500px;height: 20px; font-size: 20px;color:#ffffff">Haidian Distinct. Beijing</h1>
        </div>
    </div>
 {#      两个道行#}
    <div style="height: 450px;width: 1920px;">
        <div style="height: 450px;width: 1920px ">
            <div >
                    <div style="background-color: rgba(255,255,255,0.7);vertical-align:top;display:inline-block;width: 900px;height: 360px;" >
                        <div style="display: inline-block;vertical-align:top;margin-right:-360px;width: 360px;height: 360px;opacity: 1;"  >
                            <img src="/static/astudent.png" style="width: 190px;height: 190px;margin-top: 40px">
                            <h1 style="margin-top: 20px;font-size: 40px">AS A STUDENT</h1>
                        </div>
                    </div>
                    <div style="background-color: #ffffff;vertical-align:top;display: inline-block;display:inline-block;width: 3px;height: 220px;margin-right: 30px;margin-left: 30px;opacity: 0"><h1 style="opacity: 0">0</h1></div>
                    <div style="background-color: rgba(255,255,255,0.7);vertical-align:top;display:inline-block;width: 900px;height: 360px;" >
                        <div style="display: inline-block;vertical-align:top;margin-left:-360px;width: 360px;height: 360px;opacity: 1;"  >
                            <img src="/static/adesigner.png" style="width: 170px;height: 170px;margin-top: 50px">
                            <h1 style="margin-top: 30px;font-size: 40px">AS A STUDENT</h1>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{#    这个中间填东西，不然div是沉不到低的。#}
    <div style="height:260px;width: 1920px;">
        <div style="height: 70px;width:900px;border-radius: 0px;padding-top: 80px;">
            <h1 style="width: 600px;height: 60px;border-radius:5px;background-color: rgba(255,255,255,0.3); font-size: 45px;color:#ffffff">LEAVING ME A MESSAGE.</h1>
        </div>
    </div>
{#    页脚#}
    <div style="height: 120px;width: 1920px; margin-bottom: 0px;">
        <div style="height: 120px;width: 900px ;display: inline-block;vertical-align:top;"align="right">
            <h1 style="width: 500px;height: 20px; font-size: 28px;color:#ffffff;">BACKGROUND</h1>
            <h1 style="height: 2px;background-color: #ffffff;width: 280px;font-size: 0px;margin-top: 20px;display: inline-block">0</h1>
            <h1 style="width: 500px;height: 20px; font-size: 20px;color:#ffffff;">SHOT BY WONIU</h1>
            <h1 style="width: 500px;height: 20px; font-size: 20px;color:#ffffff;">VIEW OUTSIDE MY LAB</h1>
        </div>
        <h1 style="height: 2px;background-color: #ffffff;height:70px;width: 2px;font-size: 0px;display: inline-block">0</h1>
        <div style="height: 120px;width: 900px ;display: inline-block;vertical-align:top;" align="left">
            <h1 style="width: 500px;height: 20px; font-size: 28px;color:#ffffff;">ABOUT NAME</h1>
            <h1 style="height: 2px;background-color: #ffffff;width: 280px;font-size: 0px;margin-top: 20px;display: inline-block">0</h1>
            <h1 style="width: 500px;height: 20px; font-size: 20px;color:#ffffff;">IT IS SNAIL IN CHINESE</h1>
            <h1 style="width: 500px;height: 20px; font-size: 20px;color:#ffffff;">IT MEANS NEVER GIVE UP</h1>
        </div>
    </div>
</div>








