<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Home</title>
	<meta name="description" content="">
	<meta name="author" content="">
	
    <!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
	================================================== -->
  	<link rel="stylesheet" href="/static/zerogrid.css">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/lightbox.css">
	
	<!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	
	
	<link rel="stylesheet" href="/static/menu.css">
	<script src="/static/js/jquery1111.min.js" type="text/javascript"></script>
	<script src="/static/js/script.js"></script>
	
	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/Items/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
		<script src="../js/html5.js"></script>
		<script src="../js/css3-mediaqueries.js"></script>
	<![endif]-->
	
</head>

<body>
<div class="wrap-body">

	<!--////////////////////////////////////Header-->
	<header class="zerogrid">
		<div id='cssmenu' class="align-center">
			<ul>
			   <li class="active"><a href='personalPhoto'><span>LIFE</span></a></li>
			   <li><a href='personalPhotoGD'><span>GAIRT`S GARDEN</span></a></li>
			   <li><a href='personalPhotoInbupt'><span>IN BUPT</span></a></li>
			   <li><a href='personalPhotoSpring'><span>THE SPRING</span></a></li>
			   <li><a href='personalPhotoFC'><span>THE FORBIDDEN CITY</span></a></li>
			   <li><a href='personPage'><span>BACK</span></a></li>
{#			   <li class='last'><a href='/templates/personalGallery/contact.html'><span>Contacts</span></a></li>#}
			</ul>
		</div>
	</header>


<!--////////////////////////////////////Container-->
<section id="container">
	<div class="wrap-container">
		<!-----------------content-box-1-------------------->
		<section class="content-box box-1">
			<div class="zerogrid">
				<div class="wrap-box">
					<div class="row">
						<div class="col-2-3">
							<div class="wrap-col">
								<div class="item-container">
									<div class="title">
										<h2 style="font-size: 80px;color: #ffffff">SUNNY</h2>
									</div>
									<div class="item-caption green">
										<a href="#">
											<div class="item-caption-inner">
												<div class="item-caption-inner1">
													<h4 style="font-size: 30px;color: #ffffff">A nice day! I captured the sun!</h4></br>
													<span style="font-size: 30px;color: #ffffff">Shot on the balcony of my lab.</span>
												</div>
											</div>
										</a>
									</div>
									<img src=https://woniubupt.oss-us-east-1.aliyuncs.com/%E7%94%BB%E5%BB%8A%E7%85%A7%E7%89%87/1.png alt=""/>
								</div>
							</div>
						</div>
						<div class="col-1-3">
							<div class="wrap-col">
								<div class="item-container">
									<div class="title">
										<h2>Super delicious black tea!</h2>
									</div>
									<div class="item-caption yellow">
										<a href="#">
											<div class="item-caption-inner">
												<div class="item-caption-inner1">
													<span style="font-size: 20px;color: #ffffff">It was only a rock candy away from KFC's black tea!</span></div>
											</div>
										</a>
									</div>
									<img src=https://woniubupt.oss-us-east-1.aliyuncs.com/%E7%94%BB%E5%BB%8A%E7%85%A7%E7%89%87/2.png alt=""/>
								</div>
								<div class="item-container">
									<div class="title">
										<h2>Birthday present from my brother.</h2>
									</div>
									<div class="item-caption orange">
										<a href="#">
											<div class="item-caption-inner">
												<div class="item-caption-inner1">
                                                    <span style="font-size: 20px;color: #ffffff">Jelly is my favorite snack!</span>
												</div>
											</div>
										</a>
									</div>
									<img src=https://woniubupt.oss-us-east-1.aliyuncs.com/%E7%94%BB%E5%BB%8A%E7%85%A7%E7%89%87/3.png alt=""/>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-1-3">
							<div class="wrap-col">
								<div class="item-container">
									<div class="title">
										<h2>Grapes</h2>
									</div>
									<div class="item-caption blue">
										<a href="#">
											<div class="item-caption-inner">
												<div class="item-caption-inner1">
                                                    <span style="font-size: 20px;color: #ffffff">I love this purple, that's also where my inspiration comes from</span>												</div>
											</div>
										</a>
									</div>
									<img src=https://woniubupt.oss-us-east-1.aliyuncs.com/%E7%94%BB%E5%BB%8A%E7%85%A7%E7%89%87/4.png alt=""/>
								</div>
							</div>
						</div>
						<div class="col-2-3">
							<div class="wrap-col">
								<div class="item-container">
									<div class="title">
										<h2>The moon of the mid-autumn festival</h2>
									</div>
									<div class="item-caption purple">
										<a href="#">
											<div class="item-caption-inner">
												<div class="item-caption-inner1">
                                                    <span style="font-size: 20px;color: #ffffff">The moon turn out to be my ballon!</span>												</div>
											</div>
										</a>
									</div>
									<img src=https://woniubupt.oss-us-east-1.aliyuncs.com/%E7%94%BB%E5%BB%8A%E7%85%A7%E7%89%87/5.png alt=""/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</section>

</div>
</body></html>